.btn {
    margin-right: 5px;
    background-color: darkred;
}

.buttons {
    margin-bottom: 30px;
    text-align: center;
}

.jumbotron {
    text-align: center;
    background: darkred;
}
.calledGifs {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    /*border: 2px solid blue;*/
    /*background: yellow;*/
}

/*img {*/
    /*width: auto;*/
/*}*/