.btn {
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: darkred;
    color: orange;
}

.buttons {
    margin-bottom: 30px;
    text-align: center;
}

.jumbotron {
    text-align: center;
    background: darkred;
    color: orange;
}
.calledGifs {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    /*border: 2px solid blue;*/
    /*background: yellow;*/
}
.calledGifs p{
    color: yellow;
    text-align: center;
    background: #636363
}
h1 span{
    color: white;
}
body{
    background: #000 url("../images/background.jpeg");
}
.card-header{
    background: #5c5c5b;
    color: orange;
}
.card-body{
    background: #858584;
    color: darkred;
}
.card{
    border: 1px solid black;
}

/*img {*/
    /*width: auto;*/
/*}*/